:root {
	--dark: #333333;
	--darker: #111111;
	--light: #f0f0f0;

	--logo-size: 220px; /*adjust the size of the logo*/

	--circle-distance: 8px;
	--circle-size: 5px;
}
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	/* background-image: radial-gradient(var(--light) 8%, transparent 8%); */
	background-size: 16px 16px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	padding: 0.5rem 0.75rem;
	position: sticky;
	border-top: 4px solid var(--dark);
	border-bottom: 4px solid var(--dark);
	font-size: 1.75rem;
	font-weight: 500;
	display-text: center;
}
header ul {
	margin: 0;
	padding-left: unset;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
header ul li a {
	display: block;
	padding: 1rem 0.75rem;
	color: var(--dark);
	text-decoration: none;
}
main {
	flex-grow: 1;
	position: relative;
	margin: 0 0%;
	border-left: 0px solid var(--dark);
	border-right: 0px solid var(--dark);
}
@media (max-width: 799px) {
main {
	flex-grow: 1;
	position: relative;
	margin: 0 0%;
	border-left: 0px solid var(--dark);
	border-right: 0px solid var(--dark);
}
}
@media (min-width: 800px) {
main {
	margin: 0 0% ;/*why the nuts does this impact the phone view bruh? */ /*anyway, it was 0 5% */
	border-left: 0px solid var(--dark); /*was 4px before */
	border-right: 0px solid var(--dark);/*was 4px before */
}
}
.hero-text {
	padding: 0.5rem 1rem;
	font-size: 2rem;
	max-width: 400px;
	margin: auto;
	margin-bottom: 1rem;
	position: relative;
	text-align: center;
	background-color: white;
}
.hero-text::before, .hero-text::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background-color: var(--dark);
	z-index: -1;
	line-height: 0;
}
.hero-text span {
	width: 100%;
	display: inline-block;
}
.hero-text::before {
	left: -4px;
	top: -4px;
}
.hero-text::after {
	right: -4px;
	bottom: -4px;
}

.logo {
	display: block;
	position: absolute;
	top: -3rem; /*move logo up or down */
	left: 50%;
	transform: translate(-50%, 0);
	aspect-ratio: 1;
	width: var(--logo-size);
	border: 4px solid var(--dark);
	border-radius: 50%;
	background-color: black;
	overflow: hidden;
}

.logo img {
	max-width: 100%;
}

.container {
	padding: 2rem;
	margin: 0 auto;
}

main .container {
	padding-top: calc(var(--logo-size) + 4px);
}
.col {
    flex: 0 0 60%;
    margin-left: auto;
}
/*map container stuff:*/
.map-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 70%; /* for 9/16 the value is 56.25%*/
  background-color: #eee; /* Placeholder background color */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.col.text-center {
    flex: 0 0 35%;
	font-size: 1.75rem;
    display: flex;	
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

section {
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
span.line {
	max-width: 60%;
	width: 100%;
	height: 2px;
	display: block;
	background-color: black;
	position: relative;
	margin: 0 auto;
}
span.line::before, span.line::after {
	content: "";
	position: absolute;
	display: block;
	width: var(--circle-size);
	aspect-ratio: 1;
	background-color: #fff;
	border: 2px solid black;
	border-radius: 50%;
}
span.line::before {
	left: 0px;
	transform: translate(calc(-100% - var(--circle-distance)), calc(-50% + 1px));
}
span.line::after {
	right: 0;
	transform: translate(calc(100% + var(--circle-distance)), calc(-50% + 1px));
}
h1 {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2.5rem;
}

.links {
	border: 2px solid var(--dark);
	margin: 0 auto;
	display: flex;
	padding: 0.5rem 3rem;
	background-color: var(--dark);
	gap: 24px;
	background-image: linear-gradient(135deg, black 5%, white 5%, white 45%, black 45%, black 55%, white 55%, white 95%, black 95%);
	background-size: 10px 10px;
}
.links a {
	text-decoration: none;
	padding: 1rem;
	display: block;
	color: var(--darker);
	background-color: white;
	border: 2px solid black;
}
/* test links: */
.link-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  width: 75%;
  height: 2px;
  background-color: black;
}

.squares {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.squares a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  outline: 1px solid black;
}

.squares img {
  width: 60px;
  height: 60px;
}

.squares span {
  font-size: 12px;
  margin-top: 5px;
}

.squares a {
  width: 100px; /* This will make all of the boxes the same width. */
  height: 100px;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
